# Requirements for testing with GitHub workflows.
# Here, we install PyTorch without CUDA support to skip several GB of downloads.

pytest==7.4.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
