{% extends "rest_framework/base.html" %}

{% block title %}Datapunt: Atlas API{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='//api.data.amsterdam.nl/'>
        Datapunt APIs
    </a>
{% endblock %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="//bootswatch.com/simplex/bootstrap.min.css" type="text/css">
{% endblock %}

{% block description %}
    <div style="max-width: 50em; text-align: justify">
    {{ description }}
    </div>
{% endblock %}
