Babel==2.3.4
debtcollector==1.8.0
futures==3.0.5
iso8601==0.1.11
keystoneauth1==2.13.0
monotonic==1.2
msgpack-python==0.4.8
netaddr==0.7.18
netifaces==0.10.5
numpy==1.11.1
oslo.config==3.17.0
oslo.i18n==3.9.0
oslo.serialization==2.13.0
oslo.utils==3.16.0
pbr==1.10.0
Pillow==3.3.1
positional==1.1.1
pyparsing==2.1.10
python-keystoneclient==3.6.0
python-swiftclient==3.1.0
pytz==2016.7
requests==2.11.1
rfc3986==0.4.1
scipy==0.18.0
six==1.10.0
stevedore==1.17.1
wrapt==1.10.8
