Babel==2.3.4
debtcollector==1.8.0
Django==1.9.9
django-cors-headers==1.1.0
django-debug-toolbar==1.6
django-extensions==1.7.4
django-filter==0.14.0
django-jenkins==0.18.1
django-model-utils==2.5.2
django-rest-swagger==0.3.10
djangorestframework==3.3.3
djangorestframework-gis==0.10.1
drf-extensions==0.2.8
drf-hal-json==0.9.1
drf-nested-fields==0.9.3
factory-boy==2.7.0
fake-factory==0.6.0
futures==3.0.5
iso8601==0.1.11
keystoneauth1==2.12.1
monotonic==1.2
msgpack-python==0.4.8
netaddr==0.7.18
netifaces==0.10.5
numpy==1.11.1
oslo.config==3.17.0
oslo.i18n==3.9.0
oslo.serialization==2.13.0
oslo.utils==3.16.0
pbr==1.10.0
Pillow==3.3.1
positional==1.1.1
psycopg2==2.6.2
pyparsing==2.1.9
python-dateutil==2.5.3
python-keystoneclient==3.5.0
python-swiftclient==3.1.0
pytz==2016.6.1
PyYAML==3.12
requests==2.11.1
rfc3986==0.4.1
scipy==0.18.0
six==1.10.0
sqlparse==0.2.2
stevedore==1.17.1
wrapt==1.10.8
