Django
django-cors-headers
django-debug-toolbar
django-extensions
django-filter
django-model-utils
django-rest-swagger
djangorestframework
djangorestframework-gis
drf-amsterdam==0.1.4
drf_hal_json
factory-boy
google-cloud-vision
numpy
opencv-python
Pillow
psycopg2-binary
python-keystoneclient
python-swiftclient
scipy